.fuel-calculation__form span {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.fuel-calculation {
    padding-bottom: 80px;

    background: #f9f9f9;
}

.fuel-calculation__form {
    padding-bottom: 73px;
    display: flex;
    justify-content: space-between;
}

.fuel-calculation__input-items {
    min-width: 30%;
}

.fuel-calculation__input-wrap {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.fuel-calculation_input {
    padding: 12px 0 16px 15px;
    cursor: pointer;
    background-color: #ffffff;
    height: 46px;
    border: 1px solid #d5d5d5;

    line-height: 15px;
}

.vol {
    height: 1px;
    background: #098fcf;
    outline: 0;
    overflow: visible;
}

.fuel-calculation__preview {
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    padding: 40px;
}

.fuel-calculation__preview_cost-calculation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 16px;
    padding-bottom: 16px;
}

.fuel-calculation__preview_button {
    padding: 14px 68px;
    box-sizing: border-box;
    background-color: #098fcf;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.fuel-calculation__preview button {
    margin-top: 15px;
}
.fuel-calculation__preview button:hover {
    opacity: 1;
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
    .fuel-calculation__form {
        padding-bottom: 73px;
        display: inline;
    }
}
@media (max-width: 320px) {
    .fuel-calculation__preview {
        padding: 20px;
    }

    .fuel-calculation__form span {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 11px;
        line-height: 150%;
        color: black;
    }

    .fuel-calculation {
        padding-bottom: 20px;
    }

    .fuel-calculation__preview_cost-calculation {
        display: inline-block;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
